.watching-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #5b4acd;
    border-radius: 5px;
    max-width: 75%;
    margin: auto;
    padding: 0 0 2% 0;
    background-color: rgba(73, 143, 214, 0.909);
    background: linear-gradient(-45deg, #6b56b8, #563ce7, #17a0d1, #2397d5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/* 
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */