.ticker-row {
	display: flex;
	justify-content: space-between;
	border: solid rgba(113, 111, 111, 0.742) 2px;
}
.tickers-info-container {
	width: 75%;
	font-size: 24px;
	display: block;
	justify-content: center;
	margin: 1rem auto;
	background-color: rgba(78, 76, 76, 0.895);
	border: 2px solid rgb(91, 74, 205); 
	color: white;
}
.single-ticker-container {
	justify-content: center;
	text-align: center;
	width: 17%;
}
.header-row-container {
	background-color: rgba(17, 16, 16, 0.895);
}
.company-name-col {
	color: rgb(73, 143, 214);
	font-weight: 500;
	text-shadow: rgb(29, 28, 26) 0 0 5px;
}


